{% if site.social %}
    <div class="buttons is-centered mt-6 mb-6">
        {% if site.data.social.facebook %}
            <a href="{{ site.social.facebook }}" class="button is-medium">
                <span class="icon is-medium">
                    <i class="fa-brands fa-facebook fa-xl"></i>
                    <span class="is-sr-only">Facebook</span>
                </span>
            </a>
        {% endif %}
        {% if site.data.social.instagram %}
            <a href="https://www.instagram.com/{{ site.data.social.instagram }}" class="button is-medium">
                <span class="icon is-medium">
                    <i class="fa-brands fa-instagram fa-xl"></i>
                    <span class="is-sr-only">Instagram</span>
                </span>
            </a>
        {% endif %}
        {% if site.data.social.threads %}
            <a href="https://www.threads.com/{{ site.data.social.threads }}" class="button is-medium">
                <span class="icon is-medium">
                    <i class="fa-brands fa-threads fa-xl"></i>
                    <span class="is-sr-only">Threads</span>
                </span>
            </a>
        {% endif %}
        {% if site.data.social.tiktok %}
            <a href="https://www.tiktok.com/{{ site.data.social.tiktok }}" class="button is-medium">
                <span class="icon is-medium">
                    <i class="fa-brands fa-tiktok fa-xl"></i>
                    <span class="is-sr-only">TikTok</span>
                </span>
            </a>
        {% endif %}
        {% if site.data.social.x %}
            <a href="https://x.com/{{ site.data.social.x }}" class="button is-medium">
                <span class="icon is-medium">
                    <i class="fa-brands fa-x-twitter fa-xl"></i>
                    <span class="is-sr-only">X/Twitter</span>
                </span>
            </a>
        {% endif %}
        {% if site.data.social.youtube %}
            <a href="https://www.youtube.com/@{{ site.data.social.youtube }}" class="button is-medium">
                <span class="icon is-medium">
                    <i class="fa-brands fa-youtube fa-xl"></i>
                    <span class="is-sr-only">YouTube</span>
                </span>
            </a>
        {% endif %}
    </div>
{% endif %}
