$navbar-background-color: #000000;
$navbar-height: 6rem;
$navbar-burger-color: #ffffff;
$navbar-item-color: #ffffff;

.navbar-logo {
    max-height: 5rem !important;
    width: 5rem;
    height: 5rem;
}
